@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Source+Code+Pro:wght@200;400&display=swap');

a {
  color: lightcoral;
}

a:visited {
  color: lightcoral;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8fbef;
}
